body {
  max-width: 600px;
  display: block;
  margin: 0 auto;
}
.container {
  margin-top: 10px;
  margin-bottom: 8px;
  padding-top: 5px;
  font-family: "Barlow", sans-serif;
  background-image: linear-gradient(to top, #d9e3ec 0%, #d9e3ec 100%);
  background-blend-mode: screen;
  max-width: 600px;
  border-radius: 10px;
}

.input-group {
  padding-top: 15px;
}

#search-result {
  text-align: center;
  padding-bottom: 10px;
}

h3 {
  font-size: 35px;
}

.forecast {
  padding: 20px 10px;
  text-align: center;
  font-size: medium;
}

.partition {
  border-top: -10px;
  border-radius: 30%;
  border: 2px solid #0e4366;
}

ul {
  list-style-type: none;
  text-align: left;
}

.weather-data1 {
  text-align: right;
}

.weather-data2 {
  text-align: left;
  padding-left: 0;
}

#search-result-emoji {
  width: 50%;
}
